{
	"Version": 5,
	"DiscordBotToken": "<YourDiscordBotTokenHere>",
	"BotPrefix": ".",
	"LeaderRoles": [ "ExampleRole1", "ExampleRole2" ],
	"DynamicChannels": [ "2v2 Teams", "3v3 Teams", "4v4 Teams" ],
	"BeefLadderLink": "<BeefLadderLinkHere>",
	"MmrReaderConfig": {
		"Version": 1,
		"MsPerRead": 600000,
		"DataDirectory": ".",
		"ClientId": "<BattleNetDevClientId>",
		"ClientSecret": "<BattleNetDevClientSecret>"
	},
	"TwitchConfig": {
		"Version": 1,
		"MsPerPoll": 60000,
		"GoLiveChannel": "<ChannelName>",
		"ClientId": "<TwitchAppClientId>",
		"ClientSecret": "<TwitchAppClientSecret>"
	}
}
